/*
 *= require_tree
 *= require_self
 */
html, body {
  margin: 0;
  padding: 0;
  background: #006400;
  color: White;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}
div#main {
  margin: 0;
}
a {
  background: transparent;
  color: maroon;
  text-decoration: underline;
  font-weight: bold;
}
h1 {
  color: maroon;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
  border-bottom: 1px solid DarkSlateGrey;
}
h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: orange;
  color: white;
  border-bottom: 4px solid gold;
  font-size: 2em;
  font-style: normal;
}

/* css for the header at the top of application.html.erb */
div.header-container {
    position: relative;
    width: 100%;
    height: 68px;
    background-color: maroon;
    border-bottom: 2px black solid;
}
/* css for rounded box within the header container */
div.header {
    position: absolute;
    top: 9px;
    left: 10px;
    width: calc(100% - 20px);
    height: 46px;
    background-color: DarkSlateGrey;
    color: ghostwhite;
    border: 2px black solid;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
}

div.header:hover {
    color: darkgoldenrod;
    text-shadow: 2px 2px black;
}

#notice #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}

.player-box {
    background-color: #006400;
    border: thin solid;
    margin-top: 10px;
    color: white
}

.dealer-box {
    background-color: #006400;
    border: thin solid black;
    margin: 10px;
    color: white;
}

.game {
    display: flex;
    flex-direction: row;
}

.operation-box {
    border: thin solid;
    color: white;
    margin-right: 20px;
    margin-top: 10px;
}

.board {
    width: 1000vh;
}

.board-box {
    background-color: white;
    color: black;
    margin-top: 10px;
    padding-bottom: 10px
}

.player {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.hand {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    min-height: 94px;
}

.card {
    height: 89px;
    width: 64px;
    margin: 0px 20px 5px 5px;
}

.deck {
    height: 89px;
    width: 192px;
    margin: 0px 20px 5px 5px;
}

/*Yellow around the card in your hand indicates that everyone in the room can see it */
.my_card_visible_to_all{
    background-color: yellow;
    border: 2px solid yellow;
    height: auto;
    float: left;
    margin-right: -4px;
    margin-left: -3px;
    margin-top: -3px;
}

/* TODO Figure out why this is applying to all text on this screen */
.take_cards_choose_cards_header{
    font-size: 14pt;
}

/* css specifically for the logout button */
.logout-button {
    position: absolute;
    left: 6px;
    top: 6px;
    border-radius: 14px;
}

#header-title a {
    text-decoration: none;
    color: inherit;
}